RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
Redirect 301 /about/submissions https://dergipark.org.tr/tr/journal/2662/submission/step/manuscript/new
RewriteRule (.*) http://127.0.0.1:7424/$1 [p]